.dwindow {
  position: absolute;
  border: 1px solid red;
  display: table;
  background-color: gray;
}

.dwindow > div {
  display: table-row;
}

.dwindow .content {
  width: 100%;
  height: 100%;
}

.dwindow .content webview {
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.ddesktop {
  position: absolute;
  top: 20px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: blue;
}

.dworkspace {
  position: absolute;
  overflow: hidden;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: green;
}
